.principal-carrinho{
 
  min-height: 100vh;
  
.submenu-carrinho{
  display: flex;
  position: relative;
  
  .C{
      position: relative;
      border: none;
      left: 140px;
      font-size:15px ;
      font-family: denk one;
      background-color: white;
      border-radius: 10px;
      transition: box-shadow 0.3s;
      color: #f70000;
  }
  
  
  
  .link_mp {
  position: relative;
  left: 30%;
  text-decoration: none; 

.MP {
  display: flex;
  align-items: center;
  border: none;
  font-family: denk one;
  font-size: 15px;
  
  background-color: white;
  border-radius: 10px;
}

.MP:hover{
  color: #5f00f7;
}

}

.link_R{
position: relative;
left: 50%;

.R{
  align-items: center;
  border: none;
  font-family: denk one;
  font-size: 15px;
  transition: box-shadow 0.3s ;
  background-color: white;
  border-radius: 10px;
}
.R:hover {
  box-shadow: 0px 0px 10px #bdff00(253, 20, 20, 0.5); 
  color: #00f70c;
}
}

.link_TU{
position: relative;
left: 72%;

  .TU{
    align-items: center;
    border: none;
    font-family: denk one;
    font-size: 15px;
    transition: box-shadow 0.4s ease ;
    background-color: white;
    border-radius:10px ;
  }
  .TU:hover {
    box-shadow: 0px 0px 10px #e700a6(253, 20, 20, 0.5); 
    color: #f700eb;
  }
}
}

.container-carrinho {
  display: flex;
  height: 100px;
  align-items: center;
  
  
  .botao-voltar49{
      display: flex;
      align-items: center;
      height: 50px;
      width: 50px;
      margin-left: 25px;
  }

  .text-MP{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    
  .Mp{
    width: 190px;
    font-size: 19px;
    letter-spacing: 1px;
    color: #2B75CB;
}

  }
  
}

.rastreio-car{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  gap: 20px;
  width: 100px;
  cursor: pointer;
  transition: background-color 0.6s ease, transform 0.6s ease;
  position: relative;
  left: 200px;
}

.rastreio-car:hover{
      
      transform: scale(1.06);
      
}

.rod-carrinho{
  position: absolute;
  bottom: 0;
  width: 100%;
}

 
      .carrinho{
        display: flex;
        padding: 40px;
      }

      .itens{
        flex-grow: 1;
      }

      .itens>div:first-child{
        margin-top: 0px;
      }

      .itens>div:last-child{
        margin-bottom: 0px;
      }

      .resumo{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 185px;
        width: 300px;
        background-color: #fff;
        box-shadow: 0px 0px 10px 2px #e0e0e0;
        margin: 0px 0px 0px 10px;
        padding: 2em 0em;

        h1{
          font-size: 28px;
          margin: 0px 0px;
        }

        h3{
          font-size: 16px;
        }

        p{
          font-size: 20px;
          font-weight: 500;
          margin-top: 14px;
        }

        button{
          margin-top: 6px;
          font-size: 12px;
        }
      }

      @media (max-width: 1280px) {
        .carrinho{
          flex-direction: column;
        }

        .resumo{
          margin: 20px 0px;
        }
        
      }
      
      @media (max-width: 868px) {
        
        .produto{
          height: auto;

          .produto-container{
            flex-direction: column;
            align-items: flex-start;
          }

          .qtd-box{
            margin-top: 50px;
            justify-content: space-between;
            width: 100%;
            max-width: 400px;
          }
        }

        .resumo{
          width: 100%;
        }
      }

      @media (max-width: 415px) {

        .produto{
          padding: 1.5em;
          margin: 20px 0px;

          .produto-box{
            flex-direction: column;
            align-items: flex-start;

            .imagens{
              margin: 0px;
              margin-bottom: 20px;
            }
          }
        }
        
      }
  }


