.cor{
    background-color: #989898;
    height: 620px;
    width: 30%;
    position: relative;
    top: 28px;
}



.perfil{
    position: relative;
    top: -625px;
    left: 100px;
}

.NI{
    position: relative;
    top: -555px;
    left: 180px;
    width: 10px;
}

.linha{
    right: 36%;
    width: 240px;
    top: -635px;
    position: relative;
}

.tdpalavra{
    left: 190px;
    position: relative;
    top: -530px;
    width: 225px;
    .F{
        display: flex;
        position: relative;
        font-size: 16px;
        top: -77px;
        right: 35px;
    }
    .CP{
        display: flex;
        position: relative;
        font-size: 16px;
        top: -43px;
        right: 35px;
    }
    .BD{
        display: flex;
        position: relative;
        font-size: 16px;
        top: -15px;
        right: 35px;
    }
    .R{
        position: relative;
        display: flex;
        top: -10px;
        font-size: 16px;
        right: 35px;
    }
    .P{
        display: flex;
        position: relative;
        top: 9px;
        font-size: 16px;
        right: 35px;
    }

 }
.tdimg{
    display: flex;
    flex-direction: column;


    .FI{
        left: 60px;
        top: -850px;
        position: relative;
    }
    .CPP{
        position: relative;
        top: -820px;
        left: 40px;
    }
    .BDD{
        position: relative;
        top: -795px;
        left: 60px;
    }
    .RE{
        position: relative;
        top: -785px;
        left: 63px;
    }
    .PA{
        position: relative;
        top: -760px;
        left: 65px;
    }
 }

 .linha-baixo{
   width: 240px;
   top: -740px;
   position: relative;
   right: 36%;
 }

 .Port{
    position: relative;
    top: -720px;
    left: 115px;
 }
 .Sa{
    position: relative;
    top: -803px;
    left: 175px;
    font-size: 24px;
    width: 50px;
 }