.cont-det{
    display: flex;
    flex-direction: column;

    .principal-del{
        display: flex;
        padding: 60px;
        justify-content: center;
        gap: 30px;
    
        .esq-info{
            display: flex;
            flex-direction: column;
            
            .img-peq{
                height: 80px;
                width: 80px;
                box-shadow: 1px 1px 3px 1px #bebebe;
                border-radius: 10px;
            }

        }   
        
        .img-princ{
            height: 230px;
            position: relative;
            top: 30px;
        }

        .desc-princ{
            p{
               width: 220px;  
            }

            button{
                display: flex;
                justify-content: center;
                width: 150px;
                height: 40px;
                border-radius: 20px;
                border: none;
                background-color: #2B75CB;
                color: #fff;
                align-items: center;
            }
        }

        

        .text-addcar{
            text-decoration: none;
            color: #2B75CB;
            position: relative;    
            top: 10px;

            .addcar-prod{
            position: relative;
            left: 50px;
            height: 40px;
            color: #2B75CB;
            bottom: 10px;
            }

            p{
                position: relative;
                bottom: 20px;
            }
            
        }
    }

    .logo-del{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}