.cont-det{

    .principal-del{
        display: flex;
        flex-direction: row;
        padding: 60px;
        justify-content: center;
        
        .esq-info{
            display: flex;
            
            .img-peq{
                height: 100px;
                border: solid 1px #cecece;
                border-radius: 20px;
            }

        }   
        
        .desc-princ{
            p{
               width: 150px; 
            }
        }
    }
}