
    .cor{
        background-color: #989898;
        height: 580px;
        width: 30%;
        top: -15px;
    }



    .perfil{
        position: relative;
        top: -500px;
        left: 40px;
    }

    .NI{
        position: relative;
        top: -434px;
        left: 130px;
        width: 10px;
    }


   