.h1-tu {
    display: flex;
    position: relative;
    flex-direction: start;
    top: 90px;
    right: 345px;
    font-size: 60px;
    max-width: 900px;
    justify-content: center;
    font-family: 'Architects Daughter', cursive;


}

.h5-tu {
    display: flex;
    justify-content: flex-end;
    position: relative; 
    flex-direction: start;
    bottom: 30px;
    right: 160px;
    font-size: 30px;
    color: #2B75CB;
    max-width: 800px;
    font-family: 'Quicksand', sans-serif;
}

.texto1-tu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



.a{
    font-size: 17px;
    width: 1000px;
    right: 100px;
    font-family: 'Denk one', cursive;
 
}
}
.texto2-tu{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: -20px;
}




.texto2-tu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
 
     p{
         font-size: 21px;
         width: 1000px;
         right: 100px;
         font-family: 'Quicksand', cursive;

     }
 }

 @media only screen and (max-width: 468px){
    .h1-sn{
        position: absolute;
        left: 10px;
    }

    .h5-sn{
        position: absolute;
        left: -20px;
    }
 }

 @media only screen and (max-width:468px) {
    p{
        max-width: 400px;
        font-size: 16px;
    }

    .imagens{
        position: relative;
        left: -60px;
        height: 150px;
    }

    
 }