.financas{
    display: flex;
    margin: 50px;
    justify-content: center;
    align-items: center;

    .mapacalor{
        margin-bottom: 120px;
       
    

    }



.botao{
    display: flex;
    flex-direction: column;

    .volta-adm{
        position: relative;
        bottom: 40px;
    }
    
    button{
        width: 200px;
        padding: 20px;
        background-color: white;
        border: none;
        box-shadow: 1px 1px 2px 1px #a7a6a6;
        cursor: pointer;
        transition: background-color 0.6s ease, transform 0.6s ease;
    }

    button:hover{
        background-color: #2B75CB;
        transform: scale(1.05);
        color: rgb(255, 255, 255);
    }
    
    .mes > img{
        width: 50px;
        margin-right: 20px;
        
        

    }

    .lucro > img{
        width: 50px;
    }

    .estados > img{
        width: 50px;
        margin-right: 20px;
    }
}


}

.lucro{
    margin: 10px;
}

.mes{
    margin: 10px;
}

.estados{
    margin: 10px;
}

.relatorio{
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
    margin-right: 120px;
}