<<<<<<< HEAD
.busca-produto{
    
    // background-image: url(../../../public/assets/img/fundo3.png);
    // background-repeat: no-repeat;
    // background-size: cover;
    height: 400px;

    .text-busca-produto{
        text-align: center;
    }


=======
.P{
    background-image: url(../../../public/assets/img/fundo3.png);
    background-repeat: no-repeat;
    background-size: cover;
>>>>>>> 82c44aa6bc681908f4191e75649977db94a12de2
}