.mae-buscar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../../public/assets/img/fundo3.png);
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 100%;
    

    .busca-produto{
    
        
    
        .text-busca-produto{
            text-align: center;
        }
    
    
    .P{
        
    }
}


table {



thead {

    tr {
        border: 1px solid black;
    }

    th {

    }
}


tbody {
  
    tr {

        td {
            margin-top: 100px;
            padding: 30px;
            border: 1px solid black;
        }
    }
}



}


}

.rod-carrinho{
    position: absolute;
    bottom: 0;
    width: 100%;
  }