h1{
    display: flex;
    position: relative;
    .C{
        position: relative;
        top: 10px ;
        border: none;
        left: 80px;
        font-size:15px ;
        font-family: denk one;
        transition: box-shadow 0.3s ;
        background-color: white;
        border-radius: 10px;
    }
    
.C:hover {
    box-shadow: 0px 0px 10px #961313(253, 20, 20, 0.5); 
    color: #961313;
  }

  .MP{
    align-items: center;
    position: relative;
    left: 26%;
    top: 10px;
    border: none;
    font-family: denk one;
    font-size: 15px;
    transition: box-shadow 0.3s ;
    background-color: white;
    border-radius: 10px;
  }
  .MP:hover {
    box-shadow: 0px 0px 10px #5f0f70(253, 20, 20, 0.5);
    color: #af02ec; 
  }

  .R{
    align-items: center;
    position: relative;
    left: 43%;
    top: 10px;
    border: none;
    font-family: denk one;
    font-size: 15px;
    transition: box-shadow 0.3s ;
    background-color: white;
    border-radius: 10px;
  }
  .R:hover {
    box-shadow: 0px 0px 10px #bdff00(253, 20, 20, 0.5); 
    color: #bdff00;
  }

  .CU{
    align-items: center;
    position: relative;
    left: 62%;
    top: 10px;
    border: none;
    font-family: denk one;
    font-size: 15px;
    transition: box-shadow 0.4s ease ;
    background-color: white;
    border-radius:10px ;
  }
  .CU:hover {
    box-shadow: 0px 0px 10px #e700a6(253, 20, 20, 0.5); 
    color: #e700a6;
  }
}
    .botao-voltar49{
        position: relative;
        top: 60px;
        left: 70px;
        height: 50px;
        width: 50px;
    }

    .linha{
      position: relative;
      align-items: center;
      width: 50%;
      top: 100px;
      color: #961313;
    }

    .Mp{
      position: relative;
      left: 44%;
      font-size: 24px;
      width: 150px;
      top:55px;
    }

  