body {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Denk One', sans-serif;
  
}

@import url('https://fonts.googleapis.com/css?family=Denk+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap');

@font-face {
  font-family: 'grafitefont';
  src: url('../public/assets/font/adrip1.ttf') ;
}

