

.submenu-carrinho{
  display: flex;
  position: relative;
  
  .C{
      position: relative;
      border: none;
      left: 95px;
      font-size:15px ;
      font-family: denk one;
      background-color: white;
      border-radius: 10px;
      transition: box-shadow 0.3s;
      color: #f70000;
  }
  
  
  
  .link_mp {
  position: relative;
  left: 30%;
  text-decoration: none; /* Isso vai remover o sublinhado de links dentro de elementos com a classe .link_mp */

.MP {
  display: flex;
  align-items: center;
  border: none;
  font-family: denk one;
  font-size: 15px;
  position: relative;
  right: 56px;
  top: 10px;
  
  background-color: white;
  border-radius: 10px;
}

.MP:hover{
  color: #5f00f7;
}

}

.link_R{
position: relative;
left: 50%;

.R{
  align-items: center;
  border: none;
  font-family: denk one;
  font-size: 15px;
  transition: box-shadow 0.3s ;
  background-color: white;
  border-radius: 10px;
  right: 65px;
  position: relative;
}
.R:hover {
  box-shadow: 0px 0px 10px #bdff00(253, 20, 20, 0.5); 
  color: #00f70c;
}
}

.link_TU{
position: relative;


  .TU{
    align-items: center;
    border: none;
    font-family: denk one;
    font-size: 15px;
    transition: box-shadow 0.4s ease ;
    background-color: white;
    border-radius:10px ;
    position: relative;
    right: 120px;
    left: 570%;
  }
  .TU:hover {
    box-shadow: 0px 0px 10px #e700a6(253, 20, 20, 0.5); 
    color: #f700eb;
  }
}
}

.container-carrinho {
  display: flex;
  height: 100px;
  align-items: center;
  
  
  .botao-voltar49{
      display: flex;
      align-items: center;
      height: 50px;
      width: 50px;
      margin-left: 25px;
  }
  
  .Mp{
      display: flex;
      justify-content: center;
      width: 190px;
      font-size: 19px;
      letter-spacing: 1px;
      position: relative;
      left: 52vh;
      top: 25px;
  }
}

.linha1{
  display: flex;
  justify-content:center;
  align-items: center;
  width: 100%;
 
  
  .l1{
      width: 50%;
      background-color: #5f00f7;
      height: 2px;
  }
}

.rod-carrinho{
  position: absolute;
  bottom: 0;
  width: 100%;
}