 .h1-sn {
    display: flex;
    position: relative;
    flex-direction: start;
    top: 70px;
    right: 155px;
    font-size: 60px;
    max-width: 900px;
    justify-content: center;
    font-family: 'Architects Daughter', cursive;
    
    
}

.h5-sn {
    display: flex;
    justify-content: flex-end;
    position: relative; 
    flex-direction: start;
    right: 130px;
    font-size: 30px;
    color: #2B75CB;
    max-width: 800px;
    font-family: 'Quicksand', sans-serif;
}

.texto1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.texto2{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: -20px;

    p{
        font-size: 21px;
        width: 1000px;
        right: 100px;
        font-family: 'Quicksand', cursive;
 
    }

}
.imagens{
    display: flex;
    justify-content: space-between;
    margin-right: 140px;
    margin-left: 140px;
    margin-top: 20px;

}

.imagens > img{
    width: 220px;
}

